extends logonlayout

block content
  .container
    .row
      .col-md-8.col-md-offset-2
        h1 Your Orders
        .orderBox
          .row
            .col-md-2
              p
                b ORDER PLACED
              p 
                b May 14, 2016
            .col-md-2
              p
                b TOTAL
              p 
                b $27
            .col-md-4
              p
                b SHIP TO
            .col-md-4
              p
                b ORDER # 114-5387812-2055414
              p
                a(href='orders/orderdetail')
                  b Order Details
                |  | 
                a 
                  b Invoice
          hr
          .row
            .col-md-8
              p
                b Arriving tomorrow by 8pm
              .progress
                .progress-bar.progress-bar-success(role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;")
            .col-md-4
              button.btn.btn-default.bigYellowButton Track Package
              br
              button.btn.btn-default Return or replace items
              button.btn.btn-default Leave seller feedback
        .orderBox
          .row
            .col-md-2
              p
                b ORDER PLACED
              p 
                b April 1, 2016
            .col-md-2
              p
                b TOTAL
              p 
                b $31
            .col-md-4
              p
                b SHIP TO
            .col-md-4
              p
                b ORDER # 111-5381202-2034
              p
                a 
                  b Order Details
                |  | 
                a 
                  b Invoice
          hr
          .row
            .col-md-8
              p
                b Delivered Apr 7, 2016
              p Your package was delivered.
            .col-md-4
              button.btn.btn-default Return or replace items
              button.btn.btn-default Leave seller feedback
              form(action='reviewpurchases')
                button.btn.btn-default Write a product review
        .orderBox
          .row
            .col-md-2
              p
                b ORDER PLACED
              p 
                b Mar 15, 2016
            .col-md-2
              p
                b TOTAL
              p 
                b $51
            .col-md-4
              p
                b SHIP TO
            .col-md-4
              p
                b ORDER # 114-93898012-27124
              p
                a 
                  b Order Details
                |  | 
                a 
                  b Invoice
          hr
          .row
            .col-md-8
              p
                b Delivered Mar 15, 2016
              p Your package was delivered.
            .col-md-4
              button.btn.btn-default Return or replace items
              button.btn.btn-default Leave seller feedback
              form(action='reviewpurchases')
                button.btn.btn-default Write a product review

  footer.container-fluid.text-center
    p Shih-Chun Yin ©2016