extends logonlayout

block content
  .container-fluid
    h3 Appetite Suppressant Pure Caralluma Fimbriata Extract 1000mg 
      span  from 
        a Some Company   
  footer.container-fluid.text-center
    p Shih-Chun Yin ©2016