extends logonlayout

block content
  .container
    .row
      .col-md-12
        h1 Your Reviews
        hr
        .row
          .col-md-2
            img(src='/images/thumbnail.png',alt='item')
          .col-md-1
          #review1.col-md-9.reviews
            p Digestive Enzymes With Probiotics - Best All...
            p Zenwise Health LLC
            span#star1 &#9734;
            span#star2 &#9734;
            span#star3 &#9734;
            span#star4 &#9734;
            span#star5 &#9734;
            span#text
            a clear
        hr
        .row
          .col-md-2
            img(src='/images/thumbnail.png',alt='item')
          .col-md-1
          #review2.col-md-9.reviews
            p Nexus 5X Case, Ringke [Fusion] Clear PC Back...
            p Ringke
            span#star1 &#9734;
            span#star2 &#9734;
            span#star3 &#9734;
            span#star4 &#9734;
            span#star5 &#9734;
            span#text
            a clear
        hr
        .row
          .col-md-2
            img(src='/images/thumbnail.png',alt='item')
          .col-md-1
          #review3.col-md-9.reviews
            p Lexar High-Performance microSDXC 633x 128GB...
            p LEXAR MEDIA INC
            span#star1 &#9734;
            span#star2 &#9734;
            span#star3 &#9734;
            span#star4 &#9734;
            span#star5 &#9734;
            span#text
            a clear
        hr

  footer.container-fluid.text-center
    p Shih-Chun Yin ©2016