extends layout

block content
  link(rel='stylesheet', href='/stylesheets/index.css')
  nav#topNav.navbar.navbar-default.navbar-fixed-top
    .container-fluid
      .navbar-header
        button.navbar-toggle.collapsed(type='button',data-toggle='collapse',data-target='#bs-navbar')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.page-scroll.navbar-brand(href='#Top')
          i.ion-coffee SCYing
      #bs-navbar.navbar-collapse.collapse
        ul.nav.navbar-nav
          li: a.page-scroll(href='#AboutMe') About Me
          li: a.page-scroll(href='#Projects') Projects
          li: a.page-scroll(href='#Things') Things I use

  header#Top.text-center
    .header-content
      h1 Hello Javascript!
      h4 Join the world of javascript open-source projects!

  section#AboutMe.container-fluid.text-center
    .row
      .col-lg-6.col-lg-offset-3.col-md-8.col-md-offset-2
        h1.text-primary Hi I am Shih-Chun Yin
        br
        p.text-faded
          | I am currently working as full-time Software Engineer at TATA Consultancy Services. Node.js was firstly introduced by my friend, Jerry. After that, I can't stop myself from exploring this whole new world. npm.js, expressjs, MEAN stack, React.js AND MORE!. Javascript is so powerful that it empower every piece of web development right now. Therefore, I start my journey.

  section#Projects.container-fluid
    h1.text-center.text-primary Projects
    .row
      //http://getbootstrap.com/css/#helper-classes
      //http://getbootstrap.com/components/#media
      .col-sm-10.col-sm-offset-1.col-md-6.col-md-offset-2
        #project1.media.wow
          .media-body 
            h3 Project 1
            p
              |Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          .media-right.media-middle
            a(href='#')
              img.media-object(src='https://placeholdit.imgix.net/~text?txtsize=19&bg=999999&txtclr=eeeeee&txt=200%C3%97200&w=200&h=200', alt='Project 1 pic')
      .col-sm-10.col-sm-offset-1.col-md-6.col-md-offset-4
        #project2.media.wow
          .media-left.media-middle
            a(href='#')
              img.media-object(src='https://placeholdit.imgix.net/~text?txtsize=19&bg=999999&txtclr=eeeeee&txt=200%C3%97200&w=200&h=200', alt='Project 2 pic')
          .media-body(style='text-align:right;')
            h3 Project 2
            p
              |Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      .col-sm-10.col-sm-offset-1.col-md-6.col-md-offset-2
        #project3.media.wow
          .media-body
            h3 Project 3
            p
              |Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          .media-right.media-middle
            a(href='#')
              img.media-object(src='https://placeholdit.imgix.net/~text?txtsize=19&bg=999999&txtclr=eeeeee&txt=200%C3%97200&w=200&h=200', alt='Project 3 pic')
      .col-sm-10.col-sm-offset-1.col-md-6.col-md-offset-4
        #project4.media.wow
          .media-left.media-middle
            a(href='#')
              img.media-object(src='https://placeholdit.imgix.net/~text?txtsize=19&bg=999999&txtclr=eeeeee&txt=200%C3%97200&w=200&h=200', alt='Project 4 pic')
          .media-body(style='text-align:right;')
            h3 Project 4
            p
              |Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      .col-sm-10.col-sm-offset-1.col-md-6.col-md-offset-2
        #project5.media.wow
          .media-body
            h3 Project 5
            p
              |Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          .media-right.media-middle
            a(href='#')
              img.media-object(src='https://placeholdit.imgix.net/~text?txtsize=19&bg=999999&txtclr=eeeeee&txt=200%C3%97200&w=200&h=200', alt='Project 5 pic')

  section#Things.container-fluid.text-center
    h1.text-primary Things I use
    br
    br
    .row
      .col-xs-10.col-xs-offset-1
        .row
          .col-sm-2.col-sm-offset-1
            i.ion-social-html5.iconThings
            p HTML 5
          .col-sm-2
            i.ion-social-nodejs.iconThings
            p Node.js
          .col-sm-2
            i.ion-social-angular.iconThings
            p Angular.js
          .col-sm-2
            i.ion-social-css3.iconThings
            p CSS 3
          .col-sm-2
            i.ion-social-javascript.iconThings
            p JavaScript

  section#Contact.container-fluid.text-center
    h1.wow.animated.bounceInDown Follow me at below
    ul.list-inline
      //http://www.w3schools.com/tags/att_a_rel.asp
      li: a(rel='nofollow',href='https://github.com/paulyin2001',target='_blank',title='GitHub')
        i.ion-social-github.iconContact
      li: a(rel='nofollow',href='https://www.linkedin.com/in/paulyin2001',target='_blank',title='LinkedIn')
        i.ion-social-linkedin.iconContact
      li: a(rel='nofollow',href='http://codepen.io/scying/',target='_blank',title='CodePen')
        i.ion-social-codepen.iconContact
      li: a(rel='nofollow',href='#',target='_blank',title='Home')
        i.ion-ios-home.iconContact

  footer.container-fluid.text-center
    p Shih-Chun Yin ©2016